                                                    /* Mini mobile under 320px */
@media (max-width: 580px) {
  /* Footer section */
  .footer-section::before, .footer-section::after {
    display: none;
  }

  .circle-svg-right{
  visibility: hidden;
}

}

@media (max-width: 1150px) {
  /* Experience section */
.experience {
 padding-top: 2rem;
  padding-bottom: 2rem;
}

.experience img {
  max-height: 300px; 
  padding-top: 5rem;
}
}

                                            /* Tablet and screen bigger than 576 */
 @media (min-width: 576px) {

    /* Footer section */
  .footer-section::before,
  .footer-section::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 0;
    transition: all 0.3s ease;
  }

  .footer-section::before {
    width: 400px;
    height: 400px;
    top: 0;
     left: 50px;
  }

  .footer-section::after {
    width: 350px;
    height: 550px;
    bottom: -318px;
    right: -80px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='577'%20height='577'%20viewBox='0%200%20577%20577'%20fill='none'%3E%3Ccircle%20opacity='0.1'%20cx='314.5'%20cy='314.5'%20r='264.5'%20stroke='%23E9FFFE'%20stroke-width='100'/%3E%3C/svg%3E");
  }
} 

                                             /* Tablet menu 768px - 1150px */

@media screen and (min-width: 768px) and (max-width: 1150px) {
 
/* Nav menu */


  /* Experience */
  .schedule {
    max-width: 450px;
  }
  
}

                                        /* Only desktop bigger than 800px */
@media (min-width: 800px) {



/* Service section */


.services-section {
 padding: 4rem 2rem;
  }


.services-section h2 {
  font-size: 2rem;
}

.card h3 {
font-size: 1.3rem;
}

.card-header .services-icon {
  width: 3em;
  height: 3em;
}

  .card .arrow {
  width: 76px;
  height: 60px;
}

.arrow-icon {
  width: 22px;
}
/* Services section svg */
.services-section::after {
   background-image: 
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA1IiBoZWlnaHQ9IjQwNSIgdmlld0JveD0iMCAwIDQwNSA0MDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBvcGFjaXR5PSIwLjMiIGN4PSIyMDIuNSIgY3k9IjIwMi41IiByPSIxNTIuNSIgc3Ryb2tlPSIjRTlGRkZFIiBzdHJva2Utd2lkdGg9IjgwIi8+PC9zdmc+"),
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI5IiBoZWlnaHQ9IjYyOSIgdmlld0JveD0iMCAwIDYyOSA2MjkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBvcGFjaXR5PSIwLjMiIGN4PSIzMTQuNSIgY3k9IjMxNC41IiByPSIyNjQuNSIgc3Ryb2tlPSIjRTlGRkZFIiBzdHJva2Utd2lkdGg9IjEwMCIvPjwvc3ZnPg==");
  background-repeat: no-repeat, no-repeat;
  background-position: left 7px top 80px, right -50px top -30px;
  background-size: 350px auto, 400px auto;
}

.services-text{
  top: 90px;
  left: 200px;
}

.services-text h3 {
padding-bottom: 10px;
}

/* Carousel section */
.slide-right p {
  line-height: 30px;
}

  /* Pricing section */
 .pricing-section {
  max-height: 300px;
  margin-top: 0;
 }

 .circle-svg-left{
  left: 10%;
 }

 .circle-svg-right {
  top: 25%;
  width: 300px;
 }

 .circle-text {
  left: 66%;
  top: 20%;
 }

 /* News section */
 .section-title{
    left: 200px;
  }


/* Footer section */
.footer-section {
    flex-direction: row;
    justify-content: space-evenly;
  }

 .footer-section h2, .footer-address {
    padding: 0;
  }

}

                                        /* Desktop bigger than 992px  */
@media (min-width: 992px) {

  
  /* Carousel section */
.arrow-left {
  padding-right: 3rem ;
}

.arrow-right {
  padding-left: 3rem;
}

.carousel-link {
  font-size: 1.5rem;
}
/* Green circle */
.team-carousel::before {
  width: 300px;
  height:300px;
  top: 1%;
  right: 26%;
}
/* Blue circle */
.team-carousel::after {
  width: 350px;
  height: 350px;
  top: 30%;
  left: 14%;
}
/* Services section */
.services {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
      }

.services-section::before{
  height: 20%;
}
   
/* Footer */
.footer-section {
  height: 200px;
}

.footer-section h2{
  font-weight: 800;
}
  
  .footer-section::before {
    width: 250px;
    height: 200px;
    left: 150px;
   
  }

  .footer-section::after {
   width: 250px;
    height: 250px;
    right: 2px;
    top: 0px;
  }

  /* Services section */
  .services-section::before{
    max-height: 300px;
  }
  .services-section::after {
  background-position: left 20px top 50px, right -40px top 20px;
  background-size: 300px auto, 400px auto;
  }

  .services-text{
  top: 50px;
  left: 280px;
}


}



                                        /* Desktop menu screens bigger than 1151px*/
@media screen and (min-width: 1151px) {



/* Nav menu */
  #open-sidebar-button,
  #close-sidebar-button {
    display: none;
  }

  .navbar {
    position: static;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    gap: 2rem;
  }

  .logo {
    white-space: nowrap;
    padding-top: 0;
  }

  .nav-menu {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    margin: 0;
  }

/* Experience section */
  .experience {
    flex-direction: row;
    padding: 2rem 1rem;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  .experience-paragraph-and-btn{
  justify-content: center; 
  text-align: left;
  padding-bottom: 2rem;
  }

  .experience-letf-side, .experience-right-side {
    width: 40%;
    padding: 2rem;
    z-index: 1;
  }

  .experience-paragraph-and-btn h2 {
    font-size: 38px;
    line-height: 48px;
  }

  .experience-right-side h2, h3 {
    line-height: 100%;
  }

  .experience-right-side h2 {
    font-size: 48px;
  }

  .experience-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .experience-letf-side, .experience-right-side {
    width: 35%;
    padding: 0.5rem;
    padding-top: 3%; 
  }

  .experience-second-paragraph {
     padding-left: 15%; 
  }
  .experience-right-side img {
  margin-bottom: 2rem;
}
  
.experience::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22736%22%20height%3D%22736%22%20viewBox%3D%220%200%20736%20736%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20opacity%3D%220.25%22%20filter%3D%22url(%23filter0_f_2151_793)%22%3E%3Ccircle%20cx%3D%22368%22%20cy%3D%22368%22%20r%3D%22288%22%20fill%3D%22%2300C0B9%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_2151_793%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22736%22%20height%3D%22736%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22/%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%2240%22%20result%3D%22effect1_foregroundBlur_2151_793%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  position: absolute;
  width: 550px;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 220px;
  left: 350px;
   pointer-events: none;
  z-index: 0;
}

/* Open hours section */
  .schedule {
   min-height: 450px;
   width: 100%;
    border-top-right-radius:120px ; 
    padding: 2rem 10px 2rem 2rem;
  }

  .grid {
      gap: 2px;
  }

  .grid > div {
  padding: 0.4rem;
}
  
.footnote {
  padding-top: 4rem;
}

  /* Services section */

  .services {
    margin: 5rem auto;
  }
  .card {
    width: 100%;
    max-width: 600px;
  }

  .services-section::before{
  height: 374px;
}


    /* Services section svg */
  .services-section::after {
  background-position: left 20px top 40px, right -40px top 20px;
  background-size: 400px auto, 400px auto;
  }


/* Carousel section*/
.carousel-container {
  height: 700px;
  display: flex;
}

.slide-image img {
  max-width: 490px;
  margin-top: 29px;
}
/* Green circle */
.team-carousel::before {
  width: 400px;
  height:400px;
  top: 8%;
  right: 20%; 
}
/* Blue circle */
.team-carousel::after {
  width: 500px;
  height: 500px;
  top: 43%;
  left: 12%;
}

/* Pricing section */
.circle-svg-right {
  width: 450px;
  height: 450px;
  right: -90px;
  top: 10px;
}

 .pricing-section {
  max-height: 374px;
 }

/* News section */
.news-card {
  max-width: 400px;
  max-height: 589px;
}

.news-text{
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.news-title {
  font-size: 1.5rem;
}
.news-button-wrapper {
  margin-top: 4rem;
}

.news-link{
  font-size: 1.1rem;
}

.news-date {
  font-size: 1.2rem;
}

.news-container {
  max-width: 80%;
  margin: 0 auto;
}

/* Footer section */
.footer-section {
  height: 200px;
}

.footer-section h2{
  font-weight: 800;
}
  
.footer-section::before {
  width: 250px;
  height: 200px;
  left: 200px;
  
}

.footer-section::after {
  width: 300px;
  height: 350px;
  top: 0px;
}


}

@media screen and (min-width:1300px){
  
  .experience::before {
  width: 576px;
  height: 576px;
  top: 25%;
  left: 35%;
 
}
}

@media screen and (min-width: 1500px) {

  /* Experience section */
  .experience-letf-side, .experience-right-side{
    max-width: fit-content;
  }
  .experience-letf-side h2, .experience-paragraph-and-btn p { 
    padding-right: 15%;
  }

   #experience-visit-medevio {
    margin-right: 15%;
   }

  .experience-second-paragraph p {
    padding-right:10%;
  }

  .experience-letf-side {
    align-items: left;
  }

    .schedule {
    max-width: 579px;
    min-height: 500px;
  }

  .experience::before {
  width: 576px;
  height: 576px;
  top: 25%;
  left: 37%;
 
}

  /* Services section */
  .card {
    height: 300px;
  }

      /* Services section svg */
  .services-section::after {
  background-position: left 170px top 40px, right -40px top 20px;
  background-size: 400px auto, 500px auto;
  }

  .services-text {
    left: 390px;
  }
 /* Carousel section */
 /* Green circle */
.team-carousel::before {
  width: 450px;
  height:450px;
  top: 12%;
  right: 25%; 
}
/* Blue circle */
.team-carousel::after {
  width: 550px;
  height: 550px;
  top: 40%;
  left: 20%;
}
  /* News section */
  .news-container {
  max-width: 90%;
}

.news-card {
  max-width: 450px;
  max-height: 600px;
}

.section-title {
  left: 13%;
}

/* Footer-section */
.footer-section {
  height: 200px;
}

.footer-section h2{
  font-weight: 800;
}
  
  .footer-section::before {
    width: 250px;
    height: 200px;
    left: 18%;
   
  }

  .footer-section::after {
   min-width: 350px;
    min-height: 350px;
   
  }
  

 

}

@media (min-width: 1700px) {

  /* Section experience*/
  
  .experience::before {
  width: 576px;
  height: 576px;
  top: 22%;
  left: 42%;
 
}
  /* Pricing */
  .circle-text {
    left: 380px;
    top: 22%;
  }

  .circle-svg-left{
    left: 45%;
  }

  /* Services */
  .section-title {
    left: 315px;
  }

  /* Carousel */
 /* Green circle */
.team-carousel::before {
  width: 500px;
  height:500px;
  top: 12%;
  right: 25%; 
}
/* Blue circle */
.team-carousel::after {
  width: 640px;
  height: 640px;
  top: 40%;
  left: 20%;
}

/* Footer */
  
.footer-section{
  height: 316px;
}
  .footer-section::before {
    left: 19%;
    width: 405px ;
    height: 405px;
   
  }

  .footer-section h2 {
    font-size: 2.7rem;
  }

  .footer-section::after {
   width: 550px;
    height: 550px;
    right: 2px;
   
  }
}

@media (min-width: 2000px) {
/* Experience section */

  .experience::before {
  width: 576px;
  height: 576px;
  top: 25%;
  left: 44%;
 
}
  /* Carousel section */
   /* Green circle */
.team-carousel::before {
  width: 550px;
  height:550px;
  top: 10%;
  right: 30%; 
}
/* Blue circle */
.team-carousel::after {
  width: 600px;
  height: 600px;
  top: 40%;
  left: 30%;
}

/* Pricing section */
.circle-svg-left {
  left: 28%;
  height: 400px;
}

.circle-svg-right{
  right: -10%;
  top: 3%;
  height: 600px;
  width: auto;
}
}



/* Carousel mobile */
@media (max-width: 768px) {
  .carousel-slide {
    flex-direction: column;
    text-align: center;
    
  }
.slide-left, .slide-right {
  padding: 0;
}

  
}





