* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

:root {
    --primary500-cyan: #00C0B9;
    --primary800-dark-cayn-color: #003A38;
    --secondary500-blue-color: #004CBF;
    --grey300-paragraphs-color: #727272;
    --white-color: #fff;
    --primary100-background-for-open-hours-section: #D8F8F7;
    --primary300-background-for-specific-open-hours-color: #D8F8F7;
    --zkusenosti-background-color: #307BC41A; 

    --font-blue-hadings: "Jost", sans-serif;
    --font-main: "Space Grotesk", sans-serif;


}

body {
  font-family: var(--font-main);
}

header {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Mobile menu */
.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  font-family: var(--font-blue-hadings);
}

.navbar.show {
  right: 0;
}


.logo {
  font-size: 1.5rem;
  color: var(--primary500-cyan);
  font-weight: 500;
  padding-top: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-menu li a {
  color: var(--primary800-dark-cayn-color);
  font-size: 1rem;
}

.nav-menu li a:hover {
  color: var(--primary500-cyan);
}

.visit-medevio {
  margin-top: 1rem;
  background-color: var(--primary500-cyan);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 40px;
  font-weight: 500;
  text-align: center;
}

.visit-medevio:hover {
  background-color: var(--secondary500-blue-color);
}

#open-sidebar-button,
#close-sidebar-button {
  position: fixed;
  top: 1.25rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

#open-sidebar-button {
  display: block;
}

#close-sidebar-button {
  display: none;
}

.navbar.show + #close-sidebar-button {
  display: block;
}

/* Desktop menu*/
@media screen and (min-width: 1150px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: none;
  }

  .navbar {
    position: static;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    gap: 2rem;
    background-color: var(--white-color);
  }

  .logo {
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .nav-menu {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    margin: 0;
  }

  .visit-medevio {
    margin-top: 0;
    margin-left: auto;
  }
}