* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

:root {
    --primary500-cyan: #00C0B9;
    --primary800-dark-cayn-color: #003A38;
    --secondary500-blue-color: #004CBF;
    --grey300-paragraphs-color: #727272;
    --white-color: #fff;
    --primary100-background-color-experience-section: #E9FFFE;
    --primary300-background-for-specific-open-hours-color: #D8F8F7;
    --zkusenosti-background-color: #307BC41A; 
    --news-dark-text-color: #282C2F;

    --font-blue-hadings-jost: "Jost", sans-serif;
    --font-main-space: "Space Grotesk", sans-serif;


}


body {
  font-family: var(--font-main-space);
}

header {
  position: relative;
}

ul {
  list-style: none;
}

/* Mobile menu */

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  background-color: var(--white-color);
  font-family: var(--font-blue-hadings);
}

.navbar.show {
  right: 0;
}

.logo {
  font-size: 1.5rem;
  color: var(--primary500-cyan);
  font-weight: 500;
  padding-top: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-menu li a {
  color: var(--primary800-dark-cayn-color);
  font-size: 1rem;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: var(--primary500-cyan);
}

.visit-medevio {
  background-color: var(--primary500-cyan);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 40px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.visit-medevio-nav-btn{
  margin-top: 1rem;
}

.visit-medevio:hover {
  background-color: var(--secondary500-blue-color);
}

#open-sidebar-button,
#close-sidebar-button {
  position: fixed;
  top: 1.25rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

#open-sidebar-button {
  display: block;
}

#close-sidebar-button {
  display: none;
}

.navbar.show + #close-sidebar-button {
  display: block;
}

/* Experience sekce */

.experience {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary100-background-color-experience-section);
}


.experience-column{
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience h2, h3 {
  padding-bottom: 1.5rem;
}

.experience h2 {
  font-family: var(--font-blue-hadings-jost);
  font-weight: 600;
  color: var(--secondary500-blue-color);
  font-size:2rem;
}

.experience-right-side img {
  max-width: 100%;
  border-bottom-left-radius:80px ;
  object-fit: cover;
  object-position: right 20px;
  display: block;
  width: 450px;
  height: 438px;
}

.experience-years {
  display: flex;
  align-items: baseline;
  padding-top: 2rem;
  font-family: var(--font-main-space);
}

.experience-years .years-number {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--secondary500-blue-color);
}

.experience-years .years-label {
  font-size: 1.63rem;
  font-weight: 700;
  padding-left: 1rem;
  line-height: 1;
  color: var(--secondary500-blue-color);
}



.experience-paragraph-and-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

#experience-visit-medevio{
  margin-bottom: 2rem;
}

.experience p {
  text-align: left;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--grey300-paragraphs-color);
  line-height: 28px;
  letter-spacing: 0.15%;
}

.experience-paragraph-and-btn p{
  padding-bottom: 2rem;
}

.experience-second-paragraph p{
  padding-bottom: 1rem;
}

.footnote{
  font-size: 14px;
  padding-top: 3rem;
}



/* Open hours section */


.schedule {
  background: var(--white-color);
  border-radius: 0 80px 0 0;
  overflow: hidden;
  padding: 2rem;
  max-width: 100%;
  align-items: center;
}


.open-hours-time{
  font-family: var(--font-main-space);
  font-size:0.8rem ;
  font-weight: 700;
  color: var(--grey300-paragraphs-color);
  gap: 30px;
}

.schedule h2 {
  color: var(--secondary500-blue-color);
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--font-blue-hadings-jost);
  padding-bottom: 1rem;
}

.blue-rectangle {
  width: 105px;
  height: 4px;
  background-color: var(--secondary500-blue-color);
  margin-bottom: 1rem;
}


.grid {
  display: grid;
  grid-template-columns: auto repeat(11, fit-content);  
  align-items: center;
  gap: 1px;
  overflow-x: auto;
}

.grid > div {
  padding: 0.2rem;
}

.invisible {
  visibility: hidden;
  height: 0;
}

.slot {
  background: var(--primary300-background-for-specific-open-hours-color);
  text-align: center;
  color: var(--secondary500-blue-color);
  font-weight: 700;
  font-family: var(--font-main-space);
  font-size: 0.8rem;
  border-radius: 32px;
  white-space: nowrap;
}

.open-hours-day {
  color: var(--secondary500-blue-color);
  font-weight: 500;
  font-family: var(--font-blue-hadings-jost);
  font-size: 1.12rem;
  padding-right: 1rem;
}

.invisible {
  visibility: hidden;
  height: 0;
}

/* Days */

/* Monday */
.day-mon {
  grid-row: 2/3;
  grid-column: 1/2;
}

.slot-mon-mor {
  grid-column: 5 / 12;
}

.slot-mon-aft {
  grid-column: 14 / 20;
}

/* Tuesday */
.day-tue{
  grid-row: 3/4;
  grid-column: 1/2;
}
.slot-tue {
  grid-column: 2 / 15;
}

/* Wednesday */
.day-wed{
  grid-column: 1/2;
  grid-row: 4/5;
}

.slot-wed {
  grid-column: 15/ 24;
  grid-row: 4/5;
}

/* Thursday */
.day-thu{
 grid-column: 1/2;
 grid-row: 5/6;
}
.slot-thu-mor {
  grid-column:  6/ 12;
  grid-row: 5/6;
}

.slot-thu-aft {
  grid-column: 14 / 20;
  grid-row: 5/6;
}

/* Friday */
.day-fri {
  grid-column: 1/2;
}
.slot-fri {
  grid-column: 2 / 15;
  grid-row: 6/7;
}


/* Service section */
  .services-section {
      padding: 2rem 1rem;
      background: var(--white-color);
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

 .services-text {
  position: absolute;
  top: 35px;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services-text h3 {
  color: var(--white-color);
  font-family: var(--font-blue-hadings-jost);
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 3px;
}


.services-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 274px;
  width: 100%;
  background: var(--primary500-cyan);
  z-index: 0;
}

.services-section::after{
content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: 
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI5IiBoZWlnaHQ9IjYyOSIgdmlld0JveD0iMCAwIDYyOSA2MjkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBvcGFjaXR5PSIwLjMiIGN4PSIzMTQuNSIgY3k9IjMxNC41IiByPSIyNjQuNSIgc3Ryb2tlPSIjRTlGRkZFIiBzdHJva2Utd2lkdGg9IjEwMCIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right -8px top 10px;
  background-size: 400px auto;
  z-index: 1;
  pointer-events: none;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 5rem;
}

.card {
  background: var(--white-color);
  color: var(--secondary500-blue-color);
  padding: 1rem 0 0 1rem;
  border-radius: 16px;
  /* box-shadow: 0px 3.42px 17.9px 0.82px rgba(48, 123, 196, 0.1); */
    box-shadow: 0px 3.42px 17.9px 0.82px rgba(48, 123, 196, 0.40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  position: relative;
}

    .card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-header .services-icon {
   width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
}

.card.highlight {
  background: linear-gradient(135deg, #EEEAF7 15%, #00C0B9 90%);
} 

.card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  padding-right: 1rem;
  font-family: var(--font-blue-hadings-jost);

}

.card p {
  font-size: 14px;
  color: var(--primary800-dark-cayn-color);
  font-family: var(--font-main-space);
  margin-bottom: 2rem;
  padding-right: 1rem;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

   .card .arrow {
  align-self: flex-end;
  background: var(--primary500-cyan);
  border-radius: 8px;
  width: 56px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
   box-shadow: 5.13px 3.42px 59.8px 6.83px rgba(48, 123, 196, 0.09);
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 8px 0 16px 0;
}

.arrow-icon {
  width: 31px;
  height: 22px;
  fill: var(--white-color);
  display: block;
}

.card .arrow:hover {
  background: #00a9a0;
}
/* Carousel section */
.team-carousel {
  padding: 3rem 1.5rem;
  padding-bottom: 0;
  background-color: var(--white-color);
  position: relative;
  z-index: 10;
}
/* Green circle */
.team-carousel::before {
   content: "";
  position: absolute;
  width: 300px;
  height:300px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22539%22%20height%3D%22539%22%20viewBox%3D%220%200%20539%20539%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20opacity%3D%220.25%22%20filter%3D%22url(%23filter0_f_2151_839)%22%3E%3Ccircle%20cx%3D%22269.5%22%20cy%3D%22269.5%22%20r%3D%22189.5%22%20fill%3D%22%2300C0B9%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_2151_839%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22539%22%20height%3D%22539%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22/%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%2240%22%20result%3D%22effect1_foregroundBlur_2151_839%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
  top: 4%;
  right: 16%;
}
/* Blue circle */
.team-carousel::after {
   content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  aspect-ratio: 1;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22736%22%20height%3D%22736%22%20viewBox%3D%220%200%20736%20736%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20opacity%3D%220.25%22%20filter%3D%22url(%23filter0_f_2151_838)%22%3E%3Ccircle%20cx%3D%22368%22%20cy%3D%22368%22%20r%3D%22288%22%20fill%3D%22%23004CBF%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_2151_838%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22736%22%20height%3D%22736%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22/%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%2240%22%20result%3D%22effect1_foregroundBlur_2151_838%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  top: 30%;
  left: 12%;
  z-index: 1;
  pointer-events: none;
  transform: translate(15%, -17%);
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.arrow-right, .arrow-left {
  border: none;
  color: var(--primary500-cyan);
  background-color: var(--white-color);
}

.arrow-left {
  padding-left: 20px;
}

.arrow-right {
  padding-right: 20px;
}


.carousel-track {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-slide {
  display: none;
  flex: 1 0 100%;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.carousel-slide.active {
  display: flex;
}

.slide-left,
.slide-right {
  flex: 1;
}

.slide-left .role {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-main-space);
  color: var(--news-dark-text-color);
  margin: 0;
}

.slide-left .name {
  font-family: var(--font-blue-hadings-jost);
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary500-cyan);
  margin: 0.3rem 0 0;
}

.slide-left {
  padding-left: 2rem;
}

.slide-right {
  padding-right: 2rem;
}

.slide-image {
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.slide-image img {
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.slide-right p {
  font-size: 1rem;
  font-family: var(--font-main-space);
  font-weight: 400;
  color: var(--news-dark-text-color);
  padding-bottom: 30px;
}

.carousel-link {
  color:var(--primary500-cyan);
  font-weight: 700;
}

.carousel-icon {
   padding-left: 0.4rem;
}
.carousel-icon svg {
  width: 1rem;
  height: 1rem;
 align-items: center;
 padding-top: 6px;
}


/* Pricing section */
.pricing-section {
  position: relative;
  background-color: var(--primary500-cyan);
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  width: 100%;
  max-height: 200px; 
}

/* Left circle */
.circle-left {
  position:relative;
}

.circle-svg-left {
  position: relative;
  width: 100%;
  max-height: 90%;
  top: 10%;
  left: -100px; 
  
}

.circle-text {
  position: absolute;
  top: 35px;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center; 
  z-index: 1;
}

.circle-text h3 {
  color: var(--white-color);
  font-family: var(--font-blue-hadings-jost);
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 0;
}

.white-heading-underline {
  width: 60px;
  height: 3px;
  background-color: var(--white-color);
  margin: 0.1rem 0 0 0.1rem ;
  padding-left: 10px;
}

/* Right circle */
.circle-right {
  position: absolute;
 
  right: -15px;
  top: 10%;
  width: 250px;
  height:250px;
}

.circle-svg-right {
  position: absolute;
  width: 100%; 
  height: 120%;
   bottom: -20%;
}

/* Section news */
.news-section {
  padding: 4rem 2rem;
  text-align: left;
}

.section-title {
  font-size: 2rem;
  color: var(--secondary500-blue-color);
  font-weight: 500;
  font-family: var(--font-blue-hadings-jost);
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  left: 60px;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: var(--secondary500-blue-color);
}

.news-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.news-card {
  background: var(--white-color);
  border-radius: 12px;
  max-width: 300px;
  padding: 1rem;
  text-align: left;
}

.news-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.8rem;
}

.news-date {
  font-size: 0.9rem;
  color: var(--secondary500-blue-color);
  font-family: var(--font-blue-hadings-jost);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.news-title {
  font-size: 1rem;
  font-family: var(--font-blue-hadings-jost);
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--news-dark-text-color);
}

.news-text {
  font-size: 0.9rem;
  font-family: var(--font-main-space);
  color: var(--news-dark-text-color);
  margin-bottom: 0.8rem;
  line-height: 30px;
}

.news-link {
  color:var(--primary500-cyan);
  font-weight: 700;
  display: inline-flex;
  gap: 0.4rem;
}

.news-icon svg {
  width: 1rem;
  height: 1rem;
 align-items: center;
 padding-top: 4px;
}


.news-button-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.news-button {
  background-color:var(--primary500-cyan);
  color: var(--white-color);
  padding: 8px 32px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
  width: 151px;
  height: 52px;
  font-size: 16px;
  font-family: var(--font-blue-hadings-jost);
  display: flex;
  align-items: center;
}

.news-button:hover {
   background-color: var(--secondary500-blue-color);
}

/* Footer */
.footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: var(--secondary500-blue-color);
  color: var(--white-color);
  padding: 2rem 1rem;
  overflow: hidden;
  font-family: var(--font-blue-hadings-jost);
  font-size: 1.25rem;
}

.footer-section h2 {
  color: var(--white-color);
  padding-bottom: 1rem;
  font-weight: 800;
  text-align: center;
}

.footer-address {
  padding-top: 1rem ;
  
}

.footer-section::before
 {
  content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 0;
    transition: all 0.3s ease;
    width: 300px;
    height: 300px;
    
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='405'%20height='316'%20viewBox='0%200%20405%20316'%20fill='none'%3E%3Ccircle%20opacity='0.1'%20cx='202.5'%20cy='157.5'%20r='152.5'%20stroke='%23E9FFFE'%20stroke-width='100'/%3E%3C/svg%3E");
}

/*Cleaning*/

